body{
    margin: 0;
    font-family: sans-serif;
}

header{
   background-color: #ff6825; 
   text-align: center;
   min-width: 768px;
   min-height: 150px;
   padding: 5% 0;
}
h1{
    margin: 0;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
h2{
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: Cambria, serif;
}

header h2{
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    margin: 1.2rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 13px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.half{
    width: 47%;
    padding: 1.5%;
    float: left;
}
.right-block{
    float: right;
    padding: 15px;
    margin-left: 10px;
}
.video{
    background-color: #e02f2f;
    width: 20px;
    height: 20px;
    padding: 10px 15px 10px 28px;
    border-radius: 10px/14px;
    cursor: pointer;
}

.play{
   border: 10px solid transparent;
   border-left-color: #fff;   
}

/* clearfix hack */
.container::before, 
.container::after{
    content: '';
    display: table;
}
.container::after{
    clear: both;
}

.container{
    max-width: 1200px;
    min-width: 768px;
    width: 90%;
    margin: auto;
}
.text-center{
    text-align: center;
}

.course{
    width: 17%;
    padding: 1.5%;
    float: left;
    margin-bottom: 20px;
}

.price{
    text-align: right;
    font-weight: bold;
}

.price::before{
    content: '$ ';
}

.top{
    background-color: #ff6825;
    color: #fff;
    border: 3px double #666;
    border-top-right-radius: 20px;
    text-align: center;
    height: 100px;
    padding: 15px;
    font-family: Cambria, serif;
}

.red{
    background-color: #900;
}

.blue{
    background-color: #1b3d89;
}
.violet{
    background-color: #5a109f;
}
.green{
    background-color: #18b430;
}

.promo{
    width: 70%;
    background-color: #ffce00;
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
    color: #222;
    border-radius: 0 15px 15px 0;
    padding: 5px;
    font-weight: bold;
    margin: -15px;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: -5px;
}

footer{
    background-color: #ccc;
    border-top: 3px solid #666;
}

.footer-bottom{
    background-color: #111;
    color: #fff;
    border-top: 3px solid #666;
}

.col{
    width: 30.3%;
    padding: 1.5%;
    float: left;
}
ul.unstyled{
    list-style: none;
    padding: 0;
    line-height: 170%;
}
.text-right{
    text-align: right;
}
