body{
    background-color: turquoise;
}
.phone{
    width: 300px;
    height: 600px;
    background-color: #fff;
    border: 5px solid;
    border-color: #aaa #676767;
    border-radius: 60px;
    padding: 10px 20px;
    margin: 20px auto;
}
.camera{
    width: 6px;
    height: 6px;
    background-color: #4fa3eb;
    border-radius: 50%;
    border: 4px solid #666;
    margin: auto;
    margin-bottom: 15px;
}
.circle{
    width: 13px;
    height: 13px;
    background-color: #333;
    border-radius: 50%;
    float: left;
}
.dinamic{
    width: 70px;
    height: 6px;
    background-color: #333;
    border: 4px solid #ccc;
    border-radius: 6px;
    float: right;
}
.top{
    width: 110px;
    margin: 10px auto 20px 27%;
    overflow: hidden;
}

.inner-block{
    background-color: #111;
    height: 75%;
    border: 4px solid #505050;
    border-radius: 8px;
}

.control{
    width: 35px;
    height: 35px;
    border: 4px outset #505050;
    border-radius: 50%;
    margin: 25px auto 0;
}